In [40]:
%pip install pandas
%pip install pickle

Requirement already satisfied: pandas in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [42]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [43]:
# A -> H
# 12 ->  7*8 + 12 = 68
todas_tablas[12]
todas_tablas[19]
todas_tablas[26]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [44]:
todas_tablas[12].columns[1]

'Teamvte'

In [45]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [46]:
for letra, i in zip(alfabeto, range(12, 68,7 )):
    print(letra, i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [47]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range(12, 68,7 )):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [39]:
dict_tablas['Grupo H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [48]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_tablas,  output)