In [2]:
%pip install pandas

Requirement already satisfied: pandas in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/envs/datas/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [26]:
url = 'https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup'
respuesta = requests.get(url)



# Parsea el contenido HTML
soup = BeautifulSoup(respuesta.content, 'html.parser')

# Obtiene todas las tablas en la p√°gina
tables = soup.find_all('table')

# Usar pandas para convertir las tablas en DataFrames
grupos = pd.read_html(str(tables))

grupos[14]

/var/folders/1_/rpmlg6tn4mn8gx3g8sss013w0000gp/T/ipykernel_1153/4171090926.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  grupos = pd.read_html(str(tables))

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN

In [27]:
# A -> H
# 14 ->  7*8 + 14 = 70
grupos[14]
grupos[21]
grupos[28]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [28]:
grupos[14].columns[1]

'Teamvte'

In [29]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [30]:
for letra, i in zip(alfabeto, range(14, 70,7 )):
    print(letra, i)

A 14
B 21
C 28
D 35
E 42
F 49
G 56
H 63

In [32]:

dict_tablas = {}
for letra, i in zip(alfabeto, range(14, 70,7 )):
    df = grupos[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [35]:
dict_tablas['Grupo F']

   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0

In [36]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_tablas,  output)